<extend name="layout:base"/>

<block name="css">
    <style>
        .ydc-btn {
            padding: 0;
        }

        .ydc-btn button {
            margin-left: 0;
            width: 100px;
            border-radius: 4px;
            font-size: 14px;
            padding: 5px 20px;
        }
        .content-tip {
        margin-top: 5px;
        color: red;
    }
    </style>
</block>

<block name="head-title">
    修改问题
</block>

<block name="list">
    <div class="box">
        <if condition="count($errors) GT 0">
            <div class="alert alert-danger">
                <ul>
                    <foreach name="errors" item="error">
                        <li><{$error}></li>
                    </foreach>
                </ul>
            </div>
        </if>

        <br>
        <form action="<{:U('Index/edit')}>?id=<{$ques.id}>" method="post">
            <input type="text" class="ydc-form-control" name="title" value="<{$ques.title}>">

            <br>
            <br>

            <!-- 加载编辑器的容器 -->
            <div class="content-tip">
                为了前台页面的美观，内容部分建议字号为：18；字体为：黑体；各段落首行缩进2各字符；表格居中；单元格内容居中...
            </div>
            <script id="container" name="content" type="text/plain"><{$ques.content}></script>

            <div class="ydc-btn" style="margin-top:20px;">
                <button class="btn">保存</button>
            </div>
        </form>
    </div>
</block>

<block name="js">
    <!-- 配置文件 -->
    <script type="text/javascript" src="/tp/Public/xcdy/static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/tp/Public/xcdy/static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container', {
            toolbars: [
                [
                    'undo', //撤销
                    'redo', //重做
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'fontborder', //字符边框
                    'superscript', //上标
                    'blockquote', //引用
                    'pasteplain', //纯文本粘贴模式
                    'selectall', //全选
                    'preview', //预览
                    'horizontal', //分隔线
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'unlink', //取消链接
                    'insertrow', //前插入行
                    'insertcol', //前插入列
                    'mergeright', //右合并单元格
                    'mergedown', //下合并单元格
                    'deleterow', //删除行
                    'deletecol', //删除列
                    'splittorows', //拆分成行
                    'splittocols', //拆分成列
                    'splittocells', //完全拆分单元格
                    'deletecaption', //删除表格标题
                    'inserttitle', //插入标题
                    'mergecells', //合并多个单元格
                    'deletetable', //删除表格
                    'cleardoc', //清空文档
                    'insertparagraphbeforetable', //"表格前插入行"
                    'fontfamily', //字体
                    'fontsize', //字号
                    'paragraph', //段落格式
                    'edittable', //表格属性
                    'edittd', //单元格属性
                    'link', //超链接
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'backcolor', //背景色
                    'insertorderedlist', //有序列表
                    'insertunorderedlist', //无序列表
                    'fullscreen', //全屏
                    'directionalityltr', //从左向右输入
                    'directionalityrtl', //从右向左输入
                    'rowspacingtop', //段前距
                    'rowspacingbottom', //段后距
                    'pagebreak', //分页
                    'imagenone', //默认
                    'imageleft', //左浮动
                    'imageright', //右浮动
                    'imagecenter', //居中
                    'lineheight', //行间距
                    'edittip ', //编辑提示
                    'autotypeset', //自动排版
                    'touppercase', //字母大写
                    'tolowercase', //字母小写
                    'background', //背景
                    'inserttable', //插入表格
                    'charts' // 图表
                ]
            ],
            initialFrameHeight: 444,
            elementPathEnabled: false
        });

    </script>
</block>